@font-face {
  font-family: "HancomMalangMalang-Regular";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2406-1@1.0/HancomMalangMalang-Regular.woff2")
    format("woff2");
  font-weight: 400;
  font-style: normal;
}

.weather-info-air-quality-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  height: auto;
  padding: 100px 0px;
  width: 100%;
  max-width: 1440px;
  background: #fafafa;
  border-radius: 30px;
  background-image: url("https://images.unsplash.com/photo-1616627023690-751ca98c43a3?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTc2fHxzZW91bHxlbnwwfDB8MHx8fDI%3D");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.weather-info-air-quality-container h2 {
  font-size: 40px;
  font-weight: 300;
  margin-bottom: 24px;
  font-family: "HancomMalangMalang-Regular";
  color: #2e2e2e;
}

.location {
  font-size: 32px;
  margin-bottom: 50px;
  font-family: "HancomMalangMalang-Regular";
  color: #2e2e2e;
}

.weather-info-second-row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  margin: 0 auto;
}

.weather-info-data-item {
  padding: 30px;
  width: 100%;
  max-width: 200px;
  height: auto;
  max-height: 242px;
  border-radius: 10px;
  line-height: 2;
  text-align: left;
  background: #ffffff80;
  backdrop-filter: brightness(1.1) blur(20px);
}

.weather-info-data-item h3 {
  font-weight: 400;
  font-size: 24px;
  text-align: left;
  color: #333;
  line-height: 1.1;
  font-family: "HancomMalangMalang-Regular";
  line-height: 1.2;
}

.weather-info-data-item p {
  font-size: 28px;
  text-align: left;
  margin-bottom: 20px;
  color: #333;
}

.weather-info-data-item p span.unit {
  font-size: 20px;
  font-weight: 300;
  color: #2e2e2e;
}

.weather-info-grade-n-score {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  gap: 20px;
}

.weather-result {
  background: linear-gradient(135deg, #ffffff95, #cdedff);
  backdrop-filter: brightness(1.1) blur(20px);
  padding: 50px;
  border-radius: 8px;
  min-height: 220px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.weather-result h3 {
  font-size: 24px;
  font-family: "HancomMalangMalang-Regular";
  margin-bottom: 10px;
}

.weather-result p {
  font-size: 32px;
  font-family: "HancomMalangMalang-Regular";
}

.weather-result p.grade-message {
  font-size: 32px;
  font-family: "HancomMalangMalang-Regular";
}

.mascot {
  max-width: 980px;
}

.mascot img {
  position: absolute;
  left: 10%;
  bottom: 0;
  z-index: 1000;
}
