
.main{
    background: linear-gradient(to right, #fff, #CDEDFF);
}

        
.card {
  margin: "0",
          padding: "0",
          boxSizing: "border-box",
          display: "flex",
          flexWrap: "wrap",
          justifyContent: "center",
          gap: "24px",
          padding: " 70px 50px",
          width: "100%",
          maxWidth: "1440px",
          margin: "0 auto",
          borderRadius: "20px",
}



              flex: "1 1 150px",
              maxWidth: "calc(16.66% - 10px)",
              padding: "40px 30px",
              borderRadius: "8px",
              textAlign: "center",
              backgroundColor: "#fafafa",
              //boxShadow: "0 0px 5px rgba(0,0,0,0.05)",
              transition: "background-color 0.3s ease",
              display: "flex",
              flexDirection: "column",
              //alignItems: "center",
              //justifyContent: "center",

 
    
              style={{
                marginBottom: "20px",
         
              h3
                style={{
                  fontSize: "1.8em",
                  lineHeight: "1",
                  padding: "0",
                  margin: "0",
                }}
              
           
              <p style={{ margin: "0", fontSize: "1.2em", lineHeight: "2" }}>
                {name}
              </p>
            </div>
            <div>
              <p style={{ fontSize: "2.5em", fontWeight: "400" }}>
                {formatValue(value)}
              </p>
              <p style={{ fontSize: "1.2em" }}>{unit}</p>
            </div>
          </div>
        ))}
      </div>
    </div>
  );
};