.detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.detail .but {
  display: flex;
  justify-content: space-between;
  width: 128px;
}

.detail .edi {
  width: 60px;
  height: 24px;
  border-radius: 4px;
  background-color: #004AAD;
  color: white;
}

.detail .can {
  width: 60px;
  height: 24px;
  border-radius: 4px;
  background-color: gray;
  color: white;
}

.detail .can:hover {
  background-color: #ad1a00;
}

.detail span div {
  width: 92px;
  height: 28px;
  border-radius: 4px;
  background-color: #004AAD;
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;
}

.descBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.descBox .desc {
  width: 400px;
  height: 60px;
  text-align: center;
}

.to-dos {
  width: 400px;
  border-radius: 8px;
  background-color: rgba(205, 237, 255, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.to-dos li {
  list-style-type: none;
  margin: 8px 0 8px 0;
}

.progress {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  width: 560px;
  height: 120px;
  border: 1px solid #D9D9D9;
  border-radius: 20px;
}
