@font-face {
  font-family: "Pretendard";
  font-weight: 900;
  font-style: normal;
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Black.woff")
    format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 800;
  font-style: normal;
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraBold.woff")
    format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 700;
  font-style: normal;
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff")
    format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 600;
  font-style: normal;
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff")
    format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 500;
  font-style: normal;
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff")
    format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 400;
  font-style: normal;
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 300;
  font-style: normal;
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Light.woff")
    format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 200;
  font-style: normal;
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraLight.woff")
    format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 100;
  font-style: normal;
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Thin.woff")
    format("woff");
}

@font-face {
  font-family: "HancomMalangMalang-Regular";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2406-1@1.0/HancomMalangMalang-Regular.woff2")
    format("woff2");
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Pretendard";
  box-sizing: border-box;
}

a {
  text-decoration: none; /* 밑줄 제거 */
  color: black;
}

/* .ChallengeList {
  padding-bottom: 150px;
} */

.challenge-list-top {
  background-image: url("https://images.unsplash.com/photo-1497436072909-60f360e1d4b1?q=80&w=2560&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 45vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ChallengeList h1.challenge-list-title {
  font-size: 40px;
  font-weight: 400;
  margin-bottom: 30px;
  color: white;
  font-family: "HancomMalangMalang-Regular";
}

.search {
  width: 360px;
  height: 60px;
  border: 1px solid #fff;
  border-radius: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: white;
}

.search input {
  width: 100%;
  border: 0;
  outline: none;
  text-align: left;
  padding-left: 30px;
  font-size: 16px;
  background-color: transparent;
}

.search button {
  width: 120px;
  height: 44px;
  border-radius: 50px;
  border: 0;
  background-color: #004aad;
  color: white;
  margin-right: 8px;
}

.ChallengeList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.ChallengeList .createChallenge {
  width: 120px;
  height: 40px;
  border: 0;
  border-radius: 4px;
  background-color: #004aad;
  color: white;
  margin-top: 20px;
}

.ChallengeList .createChallenge a {
  color: white;
}

.Challenges {
  padding: 0;
  width: 50%;
  max-width: 420px;
}

.Challenges li {
  height: auto;
  min-height: 140px;
  border-radius: 8px;
  margin: 16px 0;
  padding: 25px 20px 25px 30px;
  list-style-type: none;
  display: flex;
  background-color: rgba(205, 237, 255, 0.7);
}

.Challenges li a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}

.Challenges li a span div {
  width: 88px;
  height: 28px;
  border-radius: 4px;
  background-color: #004aad;
  color: white;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.Challenges li h3 {
  font-size: 18px;
  font-weight: 500;
}

.Challenges li p {
  font-size: 16px;
  line-height: 1.4;
  font-weight: 300;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

.pagination-button {
  background-color: #004aad;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.pagination-button:hover {
  background-color: #003580;
}

.pageButton {
  background-color: #f0f0f0;
  color: #333;
  border: none;
  padding: 10px 15px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.pageButton:hover {
  background-color: #ddd;
}

.pageButton.active {
  background-color: #004aad;
  color: white;
}

.pang-on-challenge {
  position: fixed;
  bottom: 0;
  left: 10%;
  width: 100%;
}

.pang-on-challenge img {
  height: auto;
  z-index: 1000;
}
