.ChallengeCreate {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.form p {
  color: red;
}

.form ul {
  padding-left: 12px;
}

.form ul li {
  list-style-type: none;
  margin: 12px 0 0 0;
}

.title {
  width: 400px;
  height: 60px;
  border: 1px solid #D9D9D9;
  border-radius: 50px;
  outline: none;
  text-align: center;
  font-size: 24px;
}

.description {
  resize: none;
  width: 360px;
  height: 164px;
  border: 1px solid #D9D9D9;
  border-radius: 20px;
  outline: none;
  padding: 20px;
  font-size: 16px;
}

.inputs {
  width: 400px;
  display: flex;
  justify-content: space-between; 
}

.date {
  width: 188px;
  height: 60px;
  border-radius: 50px;
  outline: none;
  text-align: center;
  border: 1px solid #D9D9D9;
}

.add {
  width: 400px;
  height: 60px;
  border-radius: 50px;
  outline: none;
  text-align: center;
  background-color: white;
  border: 1px solid #D9D9D9;
}

.buttons {
  width: 400px;
  display: flex;
  justify-content: space-between;
}

.cancel {
  width: 188px;
  height: 60px;
  border-radius: 50px;
  outline: none;
  text-align: center;

  background-color: #69747B;
  color: white;
  border: 0;
  font-size: 20px;
}

.create {
  width: 188px;
  height: 60px;
  border-radius: 50px;
  outline: none;
  text-align: center;

  background-color: #004AAD;
  color: white;
  border: 0;
  font-size: 20px;
}

input[type='date']::before {
  content: attr(data-placeholder);
  width: 100%;
}

input[type='date']:focus::before,
input[type='date']:valid::before {
  display: none;
}

.modal {
  position: fixed;
  top: 100px;
  left: 400px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 260px; /* 너비 설정 */
  height: 360px;
}

.modal-content h2 {
  margin-top: 0;
  font-size: 20px;
  font-weight: 300;
}

.modal-content p {
  color: red;
  font-size: 12px;
  font-weight: 500;
}

.modal-content input {
  width: 90%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #D9D9D9;
  border-radius: 20px;
  text-align: center;
}

.modal-content button {
  width: 100%;
  margin-right: 10px;
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  border-radius: 20px;
}

.modal-content button:last-child {
  position: absolute;
  top: 10px;
  right: 0px;

  width: 20px;
  height: 20px;
  background-color: white;
  color: black;
}
