.location-page {
  padding: 0 20px;
  margin: 0 2px;
  text-align: center;
}

.button-container {
  padding: 0 200px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.location-button {
  background-color: #004AAD;
  border: none;
  color: white;
  padding: 12px 18px;
  border-radius: 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.location-button:hover {
  background-color: #3266aa;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.info-card {
  margin-top: 60px;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 12px;
  padding: 100px 15px;
  
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  width: 600px;  /* 카드의 너비 설정 */
  font-size: 48px;  /* 기본 글씨 크기 증가 */
}

.info-card h2 {
  font-size: 60px;  /* 제목 글씨 크기 증가 */
  margin-bottom: 20px;  /* 제목 아래 여백 추가 */
}

.info-card p {
  margin: 15px 0;  /* 문단 사이 여백 조정 */
}

.location-button {
  font-size: 20px;  /* 버튼 글씨 크기도 약간 증가 */
  padding: 15px 25px;  /* 버튼 크기 증가 */
}