* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-weight: 300;
  text-align: center;
  margin: 80px 0 36px;
}

.search-container {
  width: 400px;
  margin: 0 auto;
  display: flex;
  position: relative;
  align-items: center;
}

input {
  width: 100%;
  padding: 20px 30px;
  border-radius: 50px;
  border: 1px solid lightgrey;
  font-size: 16px;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 50px;
  width: 100px;
  height: 44px;
  position: relative;
  margin-left: -110px;
  background-color: #004aad;
  color: white;
  font-size: 15px;
}

button:hover {
  background-color: #6ac9ff;
}

.results-list {
  list-style: none;
  padding: 0;
  margin: 0;
  border: 1px solid #ddd;
}

.results-list li {
  padding: 8px;
  cursor: pointer;
}

.results-list li:hover {
  background-color: #f0f0f0;
}
