@font-face {
  font-family: "HancomMalangMalang-Regular";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2406-1@1.0/HancomMalangMalang-Regular.woff2")
    format("woff2");
  font-weight: 400;
  font-style: normal;
}

/* 공통 스타일 */
.UriLocations {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-family: "HancomMalangMalang-Regular"; /* 폰트를 HancomMalangMalang-Regular로 설정 */
}

.uri-locations-top {
  background-image: url("https://images.unsplash.com/photo-1542305392-73fda512f360?q=80&w=2142&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 35vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white; /* 텍스트 색상을 흰색으로 변경 */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* 텍스트에 그림자 추가 */
}

.uri-locations-title {
  font-size: 40px;
  font-weight: 400;
  margin-bottom: 30px;
  color: white;
  font-family: "HancomMalangMalang-Regular"; /* 폰트를 HancomMalangMalang-Regular로 설정 */
}

.uri-locations-subtitle {
  font-size: 18px;
  color: white;
  font-family: "HancomMalangMalang-Regular"; /* 폰트를 HancomMalangMalang-Regular로 설정 */
}

.uri-map-container {
  width: 80%;
  max-width: 800px;
  margin-top: 20px;
  background-color: white;
  padding: 20px;
  border-radius: 80px;
  /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
  font-family: "HancomMalangMalang-Regular"; /* 폰트를 HancomMalangMalang-Regular로 설정 */
}

.pang-on-location {
  position: relative;
  width: 100%;
}

.pang-on-location img {
  position: absolute;
  bottom: 0;
  left: 10%;
  height: auto;
  z-index: 1000;
}
